/* Gooey Cursor Styles */
.cursor {
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 99;
}

.cursor__inner {
  display: grid;
  width: 100%;
  height: 100%;
}

.cursor__inner-box {
  opacity: 0;
  will-change: opacity;
}